@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@layer base {
  body {
    @apply bg-primary text-text1;
  }
}

@layer components {
  .container-form {
    @apply m-4 font-body w-[80%] max-w-[600px] min-w-[350px] mx-auto bg-white text-black rounded-lg py-5 px-10;
  }
  .container-page {
    @apply max-w-[1180px] mx-auto w-full;
  }
  .bg-linear {
    @apply bg-gradient-to-right from-primary to-third;
  }
  .field {
    @apply my-6 relative;
  }
  .input {
    @apply w-full bg-slate-200 focus:bg-white transition ease-in-out duration-300  outline-none border focus:border-primary focus:rounded-lg p-3 pr-10  text-xl;
  }
  .icon-input {
    @apply cursor-pointer hover:text-secondary transition ease-in-out duration-300 text-slate-400 absolute bottom-[50%] right-3 translate-y-1/2 text-2xl mr-2;
  }
  .errorMessage {
    @apply absolute left-3 -bottom-5  text-sm text-red-500;
  }
  .navbar-active {
    @apply text-primary relative;
    &::after {
      content: "";
      @apply block absolute left-1/2 -bottom-2 bg-primary h-1 w-5 rounded-full -translate-x-1/2;
    }
  }
  .heading {
    @apply text-lg font-bold border-b-2 pb-1 border-text1;
  }
  .tags {
    @apply inline-block text-xs font-bold px-2 py-0.5 text-white relative mr-5 bg-text3 mb-2;
    &::after {
      content: "";
      @apply border-l-[10px] border-l-text3 absolute left-full top-0 bottom-0;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      // border-left: 60px solid green;
    }
    &.primary {
      @apply bg-primary;
      &::after {
        @apply border-l-primary;
      }
    }
  }
  .overflow-text {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }
  .next-post,
  .prev-post {
    &:hover {
      .title-list::before {
        @apply bg-primary;
      }
    }
  }
  .title-list {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    &::before {
      @apply inline-block absolute w-1 h-full top-0 bottom-0 -left-2 bg-primary;
      content: "";
    }
    &.secondary {
      padding-left: 10px;
      font-weight: 600;
      &::before {
        transition: 0.5s ease;
        @apply bg-text3;
      }
    }
  }
  .hover-img {
    img {
      @apply duration-200 ease-linear;
    }
    h4 {
      @apply duration-200 ease-linear;
    }
    &:hover {
      img {
        @apply scale-125;
      }
      h4 {
        text-decoration: underline;
      }
    }
  }
}
pre {
  @apply bg-slate-900 text-white p-4 shadow-inner shadow-gray-700 rounded-lg my-2;
}
.ql-editor {
  height: 150px !important;
}
h2 {
  @apply text-3xl py-2;
}
.MuiCircularProgress-indeterminate {
  color: #fff;
}
.loading {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.5);
  transform-origin: 50% 50%;

  .dash {
    @apply bg-white;
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #fecdff;
  }

  .uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;
  }

  .dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: 0.2s;
  }

  .tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: 0.3s;
  }

  .cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: 0.4s;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
    }
    30% {
      transform: rotate(370deg);
    }
    35% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-180deg);
    }
    35% {
      transform: rotate(-190deg);
    }
    40% {
      transform: rotate(-180deg);
    }
    78% {
      transform: rotate(-180deg);
    }
    95% {
      transform: rotate(-360deg);
    }
    98% {
      transform: rotate(-370deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    27% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(180deg);
    }
    45% {
      transform: rotate(190deg);
    }
    50% {
      transform: rotate(180deg);
    }
    62% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    80% {
      transform: rotate(370deg);
    }
    85% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin4 {
    0% {
      transform: rotate(0deg);
    }
    38% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-360deg);
    }
    65% {
      transform: rotate(-370deg);
    }
    75% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
